.contact-form-content{
    width:100%;
}

form{
    display: flex;
    flex-direction: column;
    grid-gap: 1.5rem;
}

.name-container{
    display: flex;
    align-items: center;
    grid-gap: 1.5rem;
}

form input, form textarea{
    flex: 1;
    width: 100%;
    font-size: 0.9rem;
    color: #14467c;
    background: aliceblue;
    border-radius: 0.6rem;
    border: 1.5px solid #14467c;
    padding: 1rem;
}

form button{
    font-size: 1rem;
    font-weight: 500;
    color:white;
    border: 2px solid #14467c;
    border-radius: 0.6rem;
    background-color: #00ADEF;
    padding: 0.7rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

form button:hover{
    color: #14467c;
    background: transparent;
}

@media (max-width: 450px){
    .name-container{
        flex-direction: column;
        align-items: flex-start;
    }

    form {
        margin: 1rem 0;
    }

    form input, form textarea{
        padding: 0.7rem;
        border-radius: 0.3rem;
    }

    form button{
        font-size: 0.9rem;
        padding: 0.7rem;
        border-radius: 0.3rem;
    }
}