.contact-container{
    margin:4rem 0;
    position: relative;
}

.contact-container h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.contact-content{
    display: flex;
    gap: 3rem;
}

.contact-content a{
    text-decoration: none;
    color: black;
}

@media (max-width: 1025px) {

    .contact-container{
        max-width: 900px;
        margin: 3rem auto;
    }
}

@media (max-width: 768px) {
    .contact-container{
        max-width: 650px;
        margin: 3rem auto;
    }

    .contact-content{
        flex-direction: column-reverse;
        font-size: 1rem;
        margin-top: 1.8rem;
    }

    .contact-container h5{
        font-size: 1.3rem;
        margin-bottom: 0rem;
    }
}

@media (max-width: 426px){
    .contact-container{
        max-width: 370px;
        margin: 3rem auto;
    }

    .contact-content{
        margin-top: 1rem;
    }
}